* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-blue-color);
}

html {
    background-color: var(--page-background-color);
}

main {
    margin-inline: 100px;
}

button {
    cursor: pointer;
}

@media (max-width: 1300px) {
    main {
        margin-inline: 50px;
    }
}

@media (max-width: 900px) {
    main {
        margin-inline: 20px;
    }
}
