.product-form {
    margin: 24vh auto 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px 5px var(--gray-shadow-color);
}

.product-form h1 {
    margin: 10px 0;
    align-self: center;
}

.product-form label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-form input,
.product-form select {
    height: 35px;
    border: 1px var(--dark-blue-color) solid;
    border-radius: 10px;
}

.product-form button {
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 10px;
    background-color: rgba(238, 214, 0, 0.74);
    align-self: center;
}

@media (max-height: 900px) {
    .product-form {
        margin-top: 5vh;
    }
}
