.product-details {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.product-details > img {
    height: 500px;
    flex: 1;
    object-fit: contain;
}

.product-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 50px;
}

.product-content h2 {
    font-size: 30px;
}

.product-content p {
    font-size: 20px;
}

.product-description {
    margin-top: 60px;
    width: 80%;
}

@media (max-width: 1300px) {
    .product-details {
        flex-direction: column;
        gap: 30px;
    }

    .product-details > img {
        flex: none;
    }
}
