.image-selector {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-selector input {
    opacity: 0;
    position: absolute;
}

.image-selector .input-file {
    height: 40px;
    width: 130px;
    border-radius: 10px;
    text-align: center;
    align-self: flex-start;
    display: flex;
    background-color: var(--dark-blue-color);
    justify-content: center;
    cursor: pointer;
    color: white;
}
